<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeCardApp"
        tools:targetApi="31">

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SignUpNameActivity"></activity>
        <activity android:name=".SignUpPersonalDetailsActivity"></activity>
        <activity android:name=".SignUpJobDescriptionActivity"></activity>
        <activity android:name=".SignUpContactInformationActivity"></activity>
        <activity android:name=".SignUpSetPINActivity"></activity>
        <activity android:name=".CreateCompanyActivity"></activity>
        <activity android:name=".JoinCompanyActivity"></activity>
        <activity android:name=".HomePageDrawerActivity"></activity>
        <activity android:name=".TimeAttendanceViewActivity"></activity>
        <activity android:name=".LeaveScheduleViewActivity"></activity>
        <activity android:name=".LeaveScheduleView2Activity"></activity>
        <activity android:name=".ApplyLeaveActivity"></activity>
        <activity android:name=".ApproveLeaveActivity"></activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>